.content_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 980px;
}

.title_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.title{
    font-size: 25px;
    color: #000;
}

.info_area{
    display: flex;
    flex-flow: column;
    gap: 4px;
}

.info_area span{
    font-size: 15px;
    color: #777;
}

.info_area > div{
    display: grid;
    grid-template-columns: 100px auto;
}

.icon_label{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}